body {
    background-color: #022f40;
    font-family: Arial, sans-serif;
    color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #0090c1;
    padding: 10px;
    text-align: center;
    margin: 0 0 15px;
}
.main_game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#start-game,
#reset-game {
    color: #022f40;
    font-weight: 800;
    padding: 10px;
    cursor: pointer;
    outline: none;
    background-color: #38aecc;
    border: 0;
    border-radius: 20px;
}
#game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
#game-board > div {
    width: 35vw;
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}

#player-board,
#computer-board {
    display: grid;
    padding: 15px;
    gap: 5px;
    width: 50%;
    height: 50%;
}

#player-board div,
#computer-board div {
    border: 1px solid #ccc;
    width: 3px;
    height: 3px;
    padding: 15px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}
